* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #00008b, #0000cd, #0000ff);
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: +5;
    padding-top: 40px;
    padding-left: 55px;
    color: #fff;
}

.h {
    padding-bottom: 40px;
}

img {
    transition: all .3s ease;
    width: 400px;
    padding-left: 10px;
}

img:active {
    transform: scale(0.9);
}

